.App {
  text-align: center;
}

.App .container {
  background-color: pink;
  height: 100%;
  border: solid 2px black;
}

.App .title {
  background-color: white;
  height: 25px;
  margin: 5px;
}

.App .messages {
  background-color:white;
  height: calc(100% - 50px);
  margin: 5px;
}

.App .text-area {
  height: 25px;
  background-color: white;
}



