.App {
  text-align: center;
}

.App .container {
  background-color: lightslategrey;
  height: 100%;
  width: 100%;  
  border: solid 2px black;
}

.App .title {
  background-color: white;
  height: 25px;
  margin: 5px;
}

.App .messages {
  background-color: white;
  height: 100px;
  margin: 5px;
}

.App .text-area {
  height: 50px;
  resize: none;
}



